[submodule "enyo"]
	path = enyo
	url = ../../enyojs/enyo.git
[submodule "lib/onyx"]
	path = lib/onyx
	url = ../../enyojs/onyx.git
[submodule "lib/layout"]
	path = lib/layout
	url = ../../enyojs/layout.git
[submodule "lib/canvas"]
	path = lib/canvas
	url = ../../enyojs/canvas.git
[submodule "lib/extra"]
	path = lib/extra
	url = ../../enyojs/extra.git
[submodule "lib/g11n"]
	path = lib/g11n
	url = ../../enyojs/g11n.git
