[submodule "enyo"]
	path = enyo
	url = ../enyo.git
[submodule "lib/onyx"]
	path = lib/onyx
	url = ../onyx.git
[submodule "lib/layout"]
	path = lib/layout
	url = ../layout.git
[submodule "lib/canvas"]
	path = lib/canvas
	url = ../canvas.git
[submodule "lib/extra"]
	path = lib/extra
	url = ../extra.git
[submodule "lib/g11n"]
	path = lib/g11n
	url = git@github.com:enyojs/g11n.git
